* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.text-align-center {
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.banner-img {
  width: 100% ;
  height: auto;
}

.header-hero {
  font-size: 4em;
  color: green;
  font-weight: 700;
}
.sub-header-hero {
  font-size: 2em;
  font-weight: 500;
}

.icon-container {
  padding: 4em;
}

.icon-image {
  width: 150px;
  }
.icon-sub-text {
  padding-top: 1em;
  font-size: 2em;
  font-weight: 500;
}
.button-inquire {
  background-color: green;
  color: white;
  border: none;
  font-size:2em;
  padding: .5em 1.5em .5em 1.5em;
  font-weight: 700;
}

.hero {
  padding: 2em 0em 4em 0em;
}

.text {
  background-color: rgb(240, 240, 240);
  flex-direction: column;
  align-items: center;
  padding: 2em 0em 4em 0em;
}

.header-text {
  font-size: 3em;
  font-weight: 500;
  padding: 0em 0 1em 0;
}

.sub-header-text {
  font-size: 2em;
  font-weight: 500;
  padding: 0em 0 1em 0;
}

.text-container {
  width: 75%;
}

p{
  font-size: 1.5em;
  font-weight: 500;
  padding: 1em 0em 1em 0em;
}
@media screen and (max-width: 500px){
  .header-hero {
    font-size: 2em;
  }
  .sub-header-hero {
    font-size: 1.5em;
  }
  .icon-image {
    width: 100px
  }
  .icon-container {
    padding: 1.5em 0em 2em 0em;
  }
    .icon-sub-text {
      font-size: 1.5em;
    }
        .button-inquire {
          font-size: 1.5em;
          padding: .5em 1.5em .5em 1.5em;
        }
}

@media screen and (max-width: 800px) {
  .hero {
    padding: 1.5em 0em 3em 0em;
  }

  .header-hero {
    font-size: 3em;
  }

  .sub-header-hero {
    font-size: 2em;
  }

  .icon-image {
    width: 125px;
  }

  .icon-container {
    padding: 2em 1.5em 3em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-sub-text {
    padding-top: 1em;
    font-size: 2em;
  }

  .button-inquire {
    font-size: 2em;
    padding: .5em 1.5em .5em 1.5em;
  }
}

@media screen and (max-width: 500px){
  .hero {
    padding: 1.5em 0em 3em 0em;
  }
  .header-text {
    font-size: 2em;
  }
  .sub-header-text {
    font-size: 1.5em;
  }
  .icon-image {
    width: 100px
  }
  .icon-container {
    padding: 1.5em 0em 2em 0em;
  }
    .icon-sub-text {
      padding-top: 1em;
      font-size: 1.5em;
    }
        .button-inquire {
          background-color: green;
          color: white;
          border: none;
          font-size: 1.5em;
          padding: .5em 1.5em .5em 1.5em;
          font-weight: 700;
        }
}
