* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.banner-img {
  width: 100% ;
  height: auto;
}
.text-align-center {
  text-align: center;
}
.header-text {
  font-size: 4em;
  color: green;
  font-weight: 700;
}
.sub-header-text {
  font-size: 2em;
  font-weight: 500;
}

.justify-content-center {
  justify-content: center;
}

.icon {
  width: 150px;
  }
.icon-sub-text {
  padding-top: 1em;
  font-size: 2em;
  font-weight: 500;
}
.button-inquire {
  background-color: green;
  color: white;
  border: none;
  font-size:2em;
  padding: .5em 1.5em .5em 1.5em;
  font-weight: 700;
}

.hero {
  padding: 2em 0em 4em 0em;
}
